{%  load static    %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست تسک‌های انجام شده</title>
    <link rel="stylesheet" href="{% static 'template/css/done.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="title"><i class="fas fa-check-circle"></i> تسک‌های انجام شده</h1>
        {% if page_obj %}
            <h1 class="title"><i class="fas fa-check-circle"></i>کل زمان فعالیت:  {{total_time}} </h1>

        </header>
        
        <div class="tasks-container">
            {% for task,duration in page_obj %}
            <div class="task-card">
                <div class="task-header" >
                <div class="task-category mb-3"><span  class="badge bg-primary rounded-pill">دسته‌بندی: {{ task.category.name }}</span>  </div>
                    
                    <span class="task-title">عنوان: {{ task.title }}</span>
                </div>
                <div class="task-body">
                    {%  if task.description  %}
                    <p class="task-description">توضیح: {{ task.description }} </p>
                    {%  else %}
                  <p class="task-description">توضیح: ------------------- </p>
                  {% endif %}
                    <div class="task-details">
                        <span class="detail-item"><i class="fas fa-info-circle"></i> مدت زمان:
                            {{ duration }}</span>
                          </div> 
                    </div>
                </div>
          
            {% endfor %}
    <div class="pagination-wrapper">
    <div class="custom-pagination">   
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="page-button">«</a>
    {% endif %}
    
       <span class="page-number active"> صفحه{{ page_obj.number }}</span>


    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="page-button"> » </a>
    {% endif %}
     </div>

   </div>
   {%  else  %}
   <p>در حال حاضر تسکی اتمام نیافته</p>
  {% endif  %}
  </div>
</body>
</html>