{%  load static    %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {%  include  "includes/headrefrense.html"  %}
  </head>
  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header >
      
      {%   include    "includes/header.html"    %}
    </header>
  




 

    <!-- Bootstrap core JavaScript -->
   {%  include   "includes/footerrefrense.html"    %}
   {%  include "includes/footer.html"   %}

  </body>
</html>
